body, html{
  font-family:"Lato", sans-serif;
  color:#666;
}
.bimg1, .bimg2, .bimg3, .bimg4{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-attachment:fixed;
}
.bimg1{
  background-image:url('img/bg1.jpg');
  min-height:100%;
}
.bimg2{
  background-image:url('img/bg2.jpg');
  min-height:400px;
}
.bimg3{
  background-image:url('img/bg3.jpg');
  min-height:400px;
}
.bimg4{
  background-image:url('img/bg4.jpg');
  min-height:400px;
}
.btext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}
.btext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}
.btext .border.trans{
  background-color:transparent;
}